<%= form_with(model: todo, local: true) do |form| %> <!-- https://qiita.com/hmmrjn/items/24f3b8eade206ace17e2 -->
  <!-- ===== error ===== -->
  <%= render 'shared/errors', todo: todo %>

  <!-- ===== form ===== -->
  <div class="field">
    <!-- form.xxx -> xxxはformのビルドヘルパーと言うらしい -->
    <!-- => for="todo_title" -->
    <%= form.label :title %>
    <!-- => name="todo[title]" id="todo_title" -->
    <!-- nameに入っている名前でデータを飛ばす(name="xxx"のxxx部分) -->
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :detail %>
    <%= form.text_area :detail %>
  </div>
  
  <div class="field">
    <%= form.label :priority %>
    <%= form.number_field :priority %>
  </div>
  
  <div class="field">
    <%= form.label :category_id %>
    <!-- TODO:controllerに記述 -->
    <% @categories = Category.all %><%= form.select :category_id, @categories.map{|category| [category.name, category.id]}, {include_blank: true}, class: 'categories' %> <!-- https://shinmedia20.com/rails-select-box -->
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
